body, html {
  padding: 0;
  margin: 0;
}

section {
  padding: 10px;
  border-bottom: 1px dotted black;
}

#wsUri {
  font-weight: bold;
}

.video_holder {
  position: relative;
  width: 320px;
}

.input_icon {
  position: absolute;
  top: 64px;
  left: 100px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.5s;
}

.input_icon:hover {
  opacity: 1;
}

.input_icon img {
  width: 120px;
}

#video {
  display: flex;
  flex-wrap: wrap;
}

.video {
  width: 320px;
  height: 240px;
  border: 2px solid black;
}

button {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 3px;
  background: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.3rem;
}

button.active {
  background: red;
}

label {
  cursor: pointer;
}

#filelist-section, #player-section {
  display: flex;
  position: relative;
}

.filelist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  flex: auto;
  max-height: 260px;
  padding-top: 4px;
}

.filelist-title {
  position: absolute;
  top: -15px;
  padding: 5px;
  background: white;
}

.player_holder {
  width: 330px;
  flex: none;
}

.filelist div a {
  padding: 4px;
  display: inline-block;
}

.filelist div a {
  cursor: pointer;
}

.filelist div a.active {
  background: red;
}

.hide {
  display: none
}