# dependencies
/node_modules

# IDEs and editors
/.idea
/.vs

# File storages
upload/*

logs/*

dist/*
files/*
cert/*/*

public/dist/*
public/dist/bundle.js
public/dist/bundle.js.map


npm-debug.log
package-lock.json

.env
