body, html {
  padding: 0;
  margin: 0;
}

section {
  margin: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.video {
  width: 320px;
  height: 240px;
  border: 2px solid black;
  display: inline-block;
}

.video-button-holder {
  width: 320px;
  display: inline-block;
  text-align: left;
}

.title {
  text-align: center;
  padding: 7px;
  background: white;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  z-index: 2;
  display: inline-block;
  
  &:before {
    position: absolute;
    background: grey;
    height: 1px;
    left: -2000px;
    right: 100%;
    top: 15px;
    content: '';
    z-index: -1;
  }
  &:after {
    position: absolute;
    background: grey;
    height: 1px;
    left: 100%;
    right: -2000px;
    top: 15px;
    content: '';
    z-index: -1;
  }
}